{% extends 'BlogBundle::layout.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block content %}

    <h1>Lista de autores</h1>
    {% for author in authors %}
        <li>{{ author.name }}</li>
    {% endfor %}

{% endblock %}