<!DOCTYPE HTML>
<html>
    <head>
        <meta/>
        <title>{% block title %} Blog Symfony {% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('bundles/blog/css/semantic.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/client.css') }}" />
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
    <header class="ui top fixed stackable menu">
        <div class="item">
            <img src="#" alt="">
        </div>
        <a href="/authors" class="item">Authors</a>
        <a href="#" class="item">Posts</a>
        <a href="#" class="item">Comments</a>

        <div class="ui dropdown item">
            more
            <i class="dropdown icon"></i>
            <div class="menu">
                <a href="/authors" class="item">Authors</a>
                <a href="#" class="item">Posts</a>
                <a href="#" class="item">Comments</a>
            </div>
        </div>

        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
            <div class="ui dropdown item">
                User
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="#" class="item">Profile</a>
                    <a href="#" class="item">Logout</a>
                </div>
            </div>
        </div>

    </header>

    <section id="content" style="margin-top: 4em;">
        {% block content %}{% endblock %}
    </section>


    <footer>
        Blog Symfony- Application of example
    </footer>
    </body>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="{{ asset('bundles/blog/js/client.js') }}"></script>
    {% block javascripts %}{% endblock %}
</html>